.cart-btn {
    position: fixed;
    top: 90vh;
    right: 2rem;
    background-color: rgb(84, 250, 134);
    padding-left: 0.5rem;
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    transition: transform 0.2s ease-in-out;
    font-size: 2rem;
}

.cart-btn:hover {
    cursor: pointer;
    opacity: 0.9;
}


.cart-counter {
    display: block;
    position: fixed;
    top: 89vh;
    right: 1.2rem;
    color: #fff;
    text-align: center;
    background-color: #ed3434;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1rem;
}